/* -- Variables couleurs -- */

/*$color--primary: #D76B00;
$color--secondary: #808080;
$color--third: black;*/
$color--primary: orange;
$color--secondary: black;
$color--third: black;

$color_section: (
    first:  $color--primary,
    second: $color--secondary,
    third:  white
);