html, body {
    width: 100%;
    font-size: 100%;
    font-family: 'Comfortaa', cursive;
    margin: 0;
}
label {
    display: none;
}
@import "utils/variables";
@import "utils/mixins";
@import "layout/all";
@import"component/btnMentions";
@import "layout/header";
@import "layout/nav";
@import "layout/section";
@import "layout/contact";
@import "layout/footer";

@media screen and (min-width: 1920px) and (max-width: 2600px) {
    
 html, body {
     font-size: 150%;
 }
}