
main {
    display: grid;
    margin: .8rem 0 8rem;
}
/*body {
    background: url("../../Images/pneu.png") no-repeat center center;
}*/
a {
    color: $color--primary;
    text-decoration: none;
}
.link_mail {
    margin: auto 0;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
}
@media screen and (min-width:1000px)/* and (max-width:1200px)*/ {
    main {
        grid-template-columns: 1fr 9fr 1fr;
        grid-template-rows: 1fr;
    }
}
