
main {
    display: grid;
    margin: .8rem 0 8rem;
    gap: 1rem;
}
/*body {
    background: url("../../Images/pneu.png") no-repeat center center;
}*/
a {
    color: $color--primary;
    text-decoration: none;
}
.container {
    display: grid;
    grid-template-rows: 1fr;
}
@media screen and (min-width:1000px)/* and (max-width:1200px)*/ {
    main {
        gap: 2.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
