.container_contact {
    display: grid;
}
.ask_number {
    grid-column: 2; grid-row: 1;
}
.number {
    grid-column: 3;grid-row: 1;
}
.ask_mail {
    grid-column: 2; grid-row: 2;
}
.link_mail {
    grid-column: 3; grid-row: 2;
    width: max-content;
    margin: auto 0;
}
.ask_adress {
    grid-column: 2; grid-row: 3;
}
.adress {
    grid-column: 3; grid-row: 3;grid-column-end: 5;
    margin: auto 0;
}
.link_mail, .adress{
    text-shadow: 1px 1px 2px black;
}
.ask_contact {
    grid-row: 5; grid-column: 5 ; grid-row-end: 6;
}
.form-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 3fr ;
    gap: 1.5rem 5rem;
}
.form-control{
    font-size: 1.2rem;
}

label {
    width: max-content;
}
.btn {
    display: flex;
    
    font-size: 1rem;

    margin: 1rem auto;
    color: white;
    background: orange;
    border: 1px solid black;
    border-radius: 5px;
}
.btn:hover  {
    color: orange;
    background: white;
    border: 1px solid orange;
}
.ask_horaires {
    grid-row: 4; grid-column: 3;
}
.horaires {
    grid-row: 5; grid-column: 2; grid-column-end: 5;
    display: grid;
}
.logoContact {
    grid-row: 1; grid-column: 5; grid-row-end: 4;
    &__ask  {
        width: 100%;
    }
}
textarea {
    resize: none;
}
@media screen and(min-width:1000px) {
    .container_contact {
        grid-template-columns: .5fr .5fr 1fr 1fr 1fr .5fr;
        gap: .5rem 0;
    }
    .form-group {
        margin: 2rem ;
    }
}
@media screen and(max-width:999px) {
    .container_contact {
        grid-template-columns: .5fr 1fr 1fr .5fr;
        
    }
    .ask_number {
        grid-column: 2; grid-row: 1;
    }
    .number {
        grid-column: 3;grid-row: 1;
    }
    .ask_mail {
        grid-column: 2; grid-row: 2;
    }
    .link_mail {
        grid-column: 3; grid-row: 2;
    }
    .ask_adress {
        grid-column: 2; grid-row: 3;
    }
    .adress {
        grid-column: 3; grid-row: 3;
        margin: auto 0;
    }
    .ask_contact {
        grid-row: 7; grid-column: 2;
    }
    .ask_horaires {
        grid-column: 2 ;
        text-align: center;
        margin: 3rem 0 2rem;
    }
    .horaires {
        text-align: center;
        padding: 0;
        margin: auto;
    }
    .logoContact {
        grid-row: 6; grid-column: 2;
        &__ask  {
            width: 100%;
        }
    }
    .adress, .ask_contact, .ask_horaires, .horaires, .logoContact {
        grid-column-end: 4;
    }
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  MEDIA Q FOR 4K  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
@media screen and (min-width: 1920px) and (max-width: 2600px) {
    .container_contact {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .ask_horaires {
        grid-row: 4;
        grid-column: 2; grid-column-end: 4;
    }
    .ask_contact {
        grid-column-end: 8;
    }
    .logoContact{
        grid-column-end: 8;
    }
    
}