header {
    text-align: center;
    padding: 3.5rem 0;
    background: lighten(#6B2121, 5);
}
.h1_header {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    margin: 5rem 0 0;
}
h1 {
    
    margin: .5rem;
}
.logo_header--bottom {
    padding: .8rem 0;
    width: fit-content;
    height: fit-content;
}