header {
    text-align: center;
    padding: 2rem 0;
    background: $color--primary url(../../images/pneu.png) no-repeat center 90px;
}
.h1_header {
    background: $color--primary;

    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    margin: 1rem 0 0;
}
h1 {
    font-size: 2rem;
    margin: 0;
}
.logo_header {
    
    max-width: 300px;
}
