nav {
    background: linear-gradient(45deg, $color--third .33%, $color--secondary 35%, $color--third 100%);
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.link_nav {
    text-transform: uppercase;
}

nav, ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
button {
    display: none;
}
.menu {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
}
button {
    height: 2rem;
    margin: .75% .55%;
    width: fit-content;
    cursor: pointer;
    border: solid $color--secondary;
    border-radius: 6.5px 5px 0px;
}
li {
    margin: 1rem auto;
    list-style: none;
    
}
@media screen and (min-width:1000px)/* and (max-width:1200px)*/ {
    ul {
        flex-direction: row;
    }
    nav {
        padding: 0;
    }
    .container_variante {
        flex-direction: column;
    } 
}
@media screen and (max-width:1000px)/* and (max-width:1200px)*/ {
    button {
        position: absolute;
        right: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #content {
        display: none;
    }
    .icon-bar {
        width: 20px;
        height: 2px;
        background: black;
    }
}