nav {
    background: grey;
    padding: 0 1rem;
}
nav, ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu {
    margin: 0;
    padding: 0;
}
/*nav {
    width: fit-content;
}
.menu {
    position: fixed;
    top:-8.5rem;
}
button{
    &:active + .menu {
        position: relative;
        top: 0;
    }
}*/
button {
    height: 2rem;
    margin: .75% .55%;
    width: fit-content;
    cursor: pointer;
    border: solid grey;
    border-radius: 6.5px 5px 0px;
}
a {
    text-decoration: none;
}
li {
    font-size: 1.5rem;
    margin: 1rem 0;
    list-style: none;
    
}