.title_tarif {
    text-align: center;
    margin: 4rem auto;
}
.decap_sablage {
    
    border: $color--primary solid 5px;
   
    background-color: $color--primary;
    
}
section {
    margin: 0 1.2rem;
    padding: .5rem;
    background: #808080;
    border-radius: 15px 250px 15px 15px;
    box-shadow: 1.8px 2px 10.5px $color--third;
}
.Nous-Contactez {
    display: grid;
    border-radius: 250px 15px 15px 15px;
    justify-content: end;
}
.Nous-Contactez h2 {
    text-align: end;
}

.price  {
    padding: 0 15%;
    display: grid;
    gap: 2.9rem;
    grid-template-columns:2.5fr 2fr 2fr;
}
.price .center {
    margin: auto;
}
.article {
    margin: 0;
}

.price_bold {
    font-weight: bold;
    font-size: 1.2rem;
}
.prestation {
    color: $color--primary;
    background: $color--third;
}
.just-mobile {
    display: none;
}

@media screen and (min-width:1000px)/* and (max-width:1200px)*/ {
    section{
       
        margin: 2rem 10%;
        width: 80%;
    }
    .Nous-Contactez {
        grid-row: 1; grid-column: 1;grid-row-end:1 ;
    }
    .decap_sablage {
        grid-row: 1;grid-column: 2 ;grid-row-end: 10 ;
    }
    
    .list_info {
        
        margin: 2rem 0;
        
    }
    .price {
        
        align-items: center;
    }
 
    .container_contact {
        display: flex;
    }
}
@media screen and (max-width:1000px)/* and (max-width:1200px)*/ {
   
    .prestation {
        padding-bottom: 3rem;
        grid-row: 2; grid-column: 1;
        
    }
    .price {
        padding: 0;
        grid-template-columns: 1fr 1fr;
        gap: 1.25rem;
    }
 
    .price .center, .just-mobile{
        margin: 0;
        text-align: end;
    }
    .just-mobile {
        display: block;
    }
    .laytop {
        display: none;
    }
    .decap_sablage {
        margin-bottom: 5rem;
    }
    section {
        margin: 0 1.2rem;
        padding: .5rem;
        background: #808080;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 1.8px 2px 10.5px $color--third;
    }
    .Nous-Contactez {
     
        border-radius: 15px 15px 15px 15px;
        justify-content: center;
    }
    .Nous-Contactez h2 {
        text-align: start;
    }

}

