.rapid_pneu {
    
    border: #D76B00 solid 5px;
   
   
    background-color: #D76B00;
    
}
section {
    font-size: 1.5rem;
    padding: .1rem;
    background: #808080;
    border-radius: 15px;
    box-shadow: 9.8px 2px 9.5px black;
}
h2 {
    font-size: 2.5rem;
}
.price  {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr .5fr;
    
}
.prestation {
    color: #D76B00;
    background: black;
}
.price p {
    width: fit-content;

}
