html, body {
  width: 100%;
  font-size: 100%;
  margin: 0; }

/* -- Variables couleurs -- */
/*$color--primary: #D76B00;
$color--secondary: #808080;
$color--third: black;*/
main {
  width: 100%;
  display: grid;
  margin: .8rem 0 8rem; }

a {
  color: orange;
  text-decoration: none; }

.link_mail {
  margin: auto 0; }

.container {
  display: grid;
  grid-template-rows: 1fr; }

@media screen and (min-width: 1000px) {
  main {
    grid-template-columns: 1fr 9fr 1fr;
    grid-template-rows: 1fr; } }
header {
  text-align: center;
  padding: 2rem 0;
  /*background: $color--primary url(../../images/pneu.png) no-repeat center 90px;*/ }

.h1_header {
  /*background: $color--primary;*/
  display: flex;
  justify-content: center;
  margin: 1rem 0 0; }

h1 {
  margin: 0; }

.logo_header {
  max-width: 300px; }

nav {
  background: linear-gradient(45deg, black 0.33%, black 35%, black 100%);
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.link_nav {
  text-transform: uppercase; }

nav, ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

button {
  display: none; }

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0; }

button {
  height: 2rem;
  margin: .75% .55%;
  width: fit-content;
  cursor: pointer;
  border: solid black;
  border-radius: 6.5px 5px 0px; }

li {
  margin: 1rem auto;
  list-style: none; }

@media screen and (min-width: 1000px) {
  ul {
    flex-direction: row; }

  nav {
    padding: 0; }

  .container_variante {
    flex-direction: column; } }
@media screen and (max-width: 1000px) {
  .nav {
    display: none; }

  button {
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }

  #content {
    display: none; }

  .icon-bar {
    width: 20px;
    height: 2px;
    background: black; } }
.title_tarif {
  text-align: center;
  margin: 4rem auto; }

.services {
  grid-row: 1;
  grid-column: 2;
  border: orange solid 5px;
  background-color: orange; }

.container_services {
  display: grid;
  gap: .9rem;
  grid-template-columns: 1fr 2.5fr 2.5fr 2.5fr 1fr;
  text-align: center; }
  .container_services__sablage {
    grid-row: 1;
    grid-column: 2; }
  .container_services__aerogommage {
    grid-row: 1;
    grid-column: 3; }
  .container_services__microbillage {
    grid-row: 1;
    grid-column: 4; }

.title_serv {
  text-align: center; }

.img_serv {
  margin: auto;
  width: 15rem;
  height: 10rem; }

.tarif {
  grid-row: 2;
  grid-column: 2;
  border-radius: 15px;
  color: orange;
  background: black; }

section {
  /*background: #808080;*/
  border-radius: 15px;
  box-shadow: 1.8px 2px 10.5px black; }

.Nous-Contactez {
  grid-row: 3;
  grid-column: 2;
  display: grid;
  border-radius: .9px;
  box-shadow: 1.8px 2px 6px black; }

.price {
  padding: 0 15%;
  display: grid;
  gap: 2.9rem;
  grid-template-columns: 2.5fr 2fr 2fr; }

.price_number {
  margin: 0;
  text-align: end; }

.price .center {
  margin: auto;
  width: max-content; }

.article {
  margin: 0; }

.price_bold {
  font-weight: bold;
  font-size: 1.2rem; }

.h2_section {
  text-align: center; }

.just-mobile {
  display: none; }

@media screen and (min-width: 1000px) {
  section {
    margin: 2rem 10%;
    width: 80%;
    padding: .5rem; }

  .list_info {
    margin: 2rem 0; }

  .price {
    align-items: center; } }
@media screen and (max-width: 1000px) {
  section {
    width: 80%;
    margin: auto; }

  .container_services {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto; }
    .container_services__sablage {
      grid-row: 1;
      grid-column: 1; }
    .container_services__aerogommage {
      grid-row: 2;
      grid-column: 1; }
    .container_services__microbillage {
      grid-row: 3;
      grid-column: 1; } }
.container_contact {
  display: grid; }

.ask_number {
  grid-column: 2;
  grid-row: 1; }

.number {
  grid-column: 3;
  grid-row: 1; }

.ask_mail {
  grid-column: 2;
  grid-row: 2; }

.link_mail {
  grid-column: 3;
  grid-row: 2;
  width: max-content; }

.ask_adress {
  grid-column: 2;
  grid-row: 3; }

.adress {
  grid-column: 3;
  grid-row: 3;
  grid-column-end: 5;
  margin: auto 0; }

.ask_contact {
  grid-row: 5;
  grid-column: 5;
  grid-row-end: 6; }

.form-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 3fr;
  gap: 1.5rem 5rem; }

.form-control {
  font-size: 1.2rem; }

.ask {
  text-align: center; }

label {
  width: max-content; }

.btn {
  display: flex;
  font-size: 1rem;
  margin: 1rem auto;
  color: white;
  background: orange;
  border: 1px solid black;
  border-radius: 5px; }

.btn:hover {
  color: orange;
  background: white;
  border: 1px solid orange; }

.ask_horaires {
  grid-row: 4;
  grid-column: 3; }

.horaires {
  grid-row: 5;
  grid-column: 2;
  grid-column-end: 5;
  display: grid; }

.logoContact {
  grid-row: 1;
  grid-column: 5;
  grid-row-end: 4; }
  .logoContact__ask {
    width: 100%; }

textarea {
  resize: none; }

@media screen and (min-width: 1000px) {
  .container_contact {
    grid-template-columns: .5fr .5fr 1fr 1fr 1fr .5fr;
    gap: .5rem 0; }

  .form-group {
    margin: 2rem; } }
@media screen and (max-width: 999px) {
  .container_contact {
    grid-template-columns: .5fr 1fr 1fr .5fr; }

  .ask_number {
    grid-column: 2;
    grid-row: 1; }

  .number {
    grid-column: 3;
    grid-row: 1; }

  .ask_mail {
    grid-column: 2;
    grid-row: 2; }

  .link_mail {
    grid-column: 3;
    grid-row: 2; }

  .ask_adress {
    grid-column: 2;
    grid-row: 3; }

  .adress {
    grid-column: 3;
    grid-row: 3;
    margin: auto 0; }

  .ask_contact {
    grid-row: 7;
    grid-column: 2; }

  .ask_horaires {
    grid-column: 2; }

  .logoContact {
    grid-row: 6;
    grid-column: 2; }
    .logoContact__ask {
      width: 100%; }

  .adress, .ask_contact, .ask_horaires, .horaires, .logoContact {
    grid-column-end: 4; } }
@media screen and (min-width: 1920px) and (max-width: 2600px) {
  .container_contact {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

  .ask_horaires {
    grid-row: 4;
    grid-column: 2;
    grid-column-end: 4; }

  .ask_contact {
    grid-column-end: 8; }

  .logoContact {
    grid-column-end: 8; } }
footer {
  position: fixed;
  bottom: 0;
  background: black;
  color: orange;
  width: 100%; }

footer p {
  margin: 0; }

@media screen and (min-width: 1000px) {
  .container_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .h3_footer {
    margin: 0; }

  .p_footer {
    display: flex; } }
@media screen and (min-width: 1920px) and (max-width: 2600px) {
  html, body {
    font-size: 150%; } }

/*# sourceMappingURL=style.css.map */
